@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

* {
    font-family: 'Poppins';
}
body {
    margin: 0px;
}

nav {
    display: flex;
    background-color: #537188;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    color: white;
}

nav > h3 {
    margin: 10px;
}

#button-1, #button-2 {
    -webkit-text-stroke: black 1px;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins';
    margin-top: 20px;
}

#button-1 {
    background-color: #CBB279;
    color: white;
}

#button-2 {
    border: 1px solid #CBB279;
    color: white;
}

#card {
    display: flex;
    justify-content: center;
}
#card-box {
    background-color: #EEEEEE;
    width: fit-content;
    padding: 20px 50px;
}

#page-title {
    color:#537188;
    text-align: center;
}